nltk==3.6.6
numpy==1.22
Pillow==10.0.1
scikit-learn==1.0.1
spacy==3.0.5
statsmodels==0.12.2
tensorboardX==2.2
torch==1.11.0
transformers==4.30.0
flair==0.11.3
jieba==0.42.1
pycld2==0.42
lru-dict==1.1.8
lemminflect==0.2.3
num2words==0.5.10
word2number==1.1
OpenHowNet==1.0.0
anytree==2.8.0
pinyin==0.4.0
language_tool_python==2.7.1
tensorflow_text==2.10.0
bert_score==0.3.13
editdistance==0.6.2
terminaltables==3.1.10